.listItemEnabled {
  border: 1px solid blue;
  padding: 7px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  flex-grow: 8;
}

.listItemDisabled {
  border: 1px solid lightgray;
  padding: 7px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  background-color: lightgray;
  color: hsl(0, 0%, 40%);
  flex-grow: 2;
}

.containerLine {
  display: flex;
  position: relative;
}

.label {
  position: absolute;
  color: red;
  background-color: white;
  top: -3px;
  font-size: 12px;
  left: 10px;
  padding: 1px 3px;
  border: 1px solid blue;
  border-radius: 5px;
}
